#status {
    width: fit-content;
}

#invite-list {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    max-width: 90vw;
    min-height: 50vh;
    max-height: 90vh;
    background: white;
}

#chat ::deep .chat-box .chat-list {
    max-height: 180px;
}
