<div @onclick="this.OnClick" class="card card-back @(this.IsMini ? "card-mini" : "") @(this.Highlight ? "highlight" : "")"></div>

@code {
    [Parameter]
    public bool IsMini { get; set; } = false;

    [Parameter]
    public bool Highlight { get; set; } = false;

    [Parameter]
    public Action OnClick { get; set; }
}